html {overflow: auto; min-height: 100%;}
body {margin: 0; padding: 0; font-family: Arial, Tahoma, Helvetica, sans-serif; color: #000; font-size: 21px; min-height: 100%; background: #fff;}
img {border: 0;}
.clear {clear: both; overflow: hidden; font-size: 0; height: 0;}

a {color: #000;}

#container {width: 1280px; margin: 0 auto;}

#header {border-bottom: 2px solid #000;}

#settings {height: 47px; background: #7b7b7b; color: #fff; font-size: 21px; font-weight: bold; position: relative;}
#settings a {text-decoration: none;}

#font_size {position: absolute; height: 47px; position: absolute; top: 0; left: 34px; line-height: 47px;}
#font_size a {display: inline-block; width: 34px; text-align: center; color: #fff; vertical-align: top;}
#font_size a.selected {background: #fff; color: #7b7b7b;}
#font_size_2 {font-size: 26px;}
#font_size_3 {font-size: 30px;}
#site_color {position: absolute; height: 47px; position: absolute; top: 0; left: 428px; line-height: 47px;}
#site_color a {display: inline-block; padding: 8px 7px; vertical-align: top; color: #000;}
#site_color span {display: block; width: 31px; line-height: 33px; font-size: 26px; text-align: center;}
#site_color a.selected {background: #fff;}
#site_color_1 span {background: #fff;}
#site_color_1.selected {padding: 6px 5px;}
#site_color_1.selected span {border: 2px solid #7b7b7b;}
#site_color_2 span {background: #000; color: #fff;}
#site_color_3 span {background: #91ccee;}
#view_link {position: absolute; top: 0; right: 33px; color: #fff; line-height: 47px;}

#header_top {height: 48px; position: relative; font-size: 21px;}
.reg_list {display: none; position: absolute; top: 48px; left: 80px; background: #fff; padding: 15px; z-index: 200;}
#header_top > a {line-height: 48px; text-decoration: underline;}
#pk {position: absolute; top: 0; right: 35px;}
#sved {position: absolute; top: 0; left: 423px;}
.fil {margin: 0 13px 0 40px; font-weight: bold;}
.city_list {text-decoration: none !important;}
.city_list span {font-size: 0.8em;}

#header_text {position: relative; background: url(/img/ht_l.jpg) left no-repeat; height: 163px; text-align: right; border-top: 2px solid #000; padding: 0 34px 0 0;}

#search_form {margin: 17px 0 0;}
#search_form [type='text'] {border: 2px solid #000; width: 147px; color: #636161; font-family: Arial; font-size: 21px; padding: 0 9px; margin: 0 4px 0 0; vertical-align: top;}
#search_form [type='submit'] {border: none; width: 39px; height: 27px; background: url(/img/search_button.png); border: 2px solid #000; vertical-align: top; cursor: pointer;}

#phone {font-size: 25px; margin: 7px 0 0;}
#zad_vopr {font-size: 25px; margin: 0 17px 0 0;}

#logo {position: absolute; top: 0; left: 0; width: 800px; height: 160px;}

#menu {text-align: center; background: #000; padding: 5px 240px;}
#menu a {color: #fff; font-size: 25px; font-weight: bold; text-decoration: underline; margin: 0 25px; line-height: 41px;}

#left {float: left; width: 240px; padding: 11px 20px 0 40px; margin: 6px 0 0; border-right: 1px solid #000;}
.nn {text-decoration: none; display: block; margin: 0 0 38px;}
.nd {display: block; font-weight: bold;}
.np {display: block; text-decoration: underline;}

.alln {text-align: center;}
.alln a {text-decoration: underline;}


#side_menu a {display: block; margin: 0 0 20px;}
#side_menu .sub_menu {margin: 0 0 0 20px;}

#right {flo/at: right; wi/dth: 184px; padd/ing: 11px 40px 0 20px; padding: 0 0 20px; margin: 6px 0 0; bo/rder-left: 1px solid #000;}
#right > a {text-decoration: underline; display: block; margin: 0 0 22px;}
#right > a:last-child {margin: 0;}

#right ul {list-style: none; padding: 0; margin: 0;}
#right li {padding: 0; margin: 0 0 20px;}

#content {overflow: auto; padding: 17px 35px 0 25px;}


#footer {border-top: 2px solid #000; padding: 20px 0 25px; color: #2c2c2c; text-align: center; margin: 20px 0 0;}
#footer > a {display: inline-block; color: #525252; text-decoration: underline; margin: 22px 0 0;}

.main_header {font-size: 23px; font-weight: bold; margin: 0 0 20px;}
.main_text {}

.news_date {font-weight: bold; margin: 20px 0 8px;}
.news_link {text-decoration: none;}
/*.news_link p {margin: 0; padding: 0;}*/

.pager {text-align: center; margin: 36px 0 0;}
.pager a, .pager span {text-decoration: none; display: inline-block; padding: 4px 8px; margin: 0 1px;}
.pager span {background: #000; color: #fff;}



.counter div {float: left; margin: 0 5px;}




/*Размер шрифта 2*/
.font_size_2 {font-size: 26px;}

.font_size_2 .main_header {font-size: 30px;}


/*Размер шрифта 3*/
.font_size_3 {font-size: 30px;}

.font_size_3 .main_header {font-size: 34px;}

.font_size_3 #footer {font-size: 26px;}



/*Цвет сайта 2*/
.site_color_2 {background: #000; color: #fff;}
.site_color_2 a {color: #fff;}

.site_color_2 #header {border-bottom: 2px solid #fff;}

.site_color_2 #left {border-right: 1px solid #fff;}

.site_color_2 #footer {border-top: 2px solid #fff; color: #fff;}
.site_color_2 #footer > a {color: #fff;}

.site_color_2 .pager span {background: #fff; color: #000;}

.site_color_2 #header_text {background: url(/img/ht_l2.jpg) left no-repeat;}
.site_color_2 #menu {background: #fff;}
.site_color_2 #menu a {color: #000;}
.site_color_2 .reg_list {background: #000;}


/*Цвет сайта 3*/
.site_color_3 {background: #93d5ef;}

.site_color_3 #footer > a {color: #2d2d2d;}

.site_color_3 #header_text {background: url(/img/ht_l3.jpg) left no-repeat;}



/*Невидимый*/
.invisible {display: none;}